body {
  @apply bg-white font-sans;
}

.wrapper {
  @apply mx-auto px-4;
  max-width: 75ch;
}

.gradientbg {
  @apply fixed;
  min-width: 32rem;
  width: 50vw;
  filter: blur(128px);
  opacity: 0.7;
  z-index: -10;
  margin-top: -20vh;
  margin-left: -10vw;
  animation: gradient 10s ease-in-out;
}

.logo, 
.project .icon {
  background: rgb(247,250,252);
  background: linear-gradient(0deg, rgba(247,250,252,1) 0%, rgba(255,255,255,1) 100%);
}

@keyframes gradient {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

.inputfield {
  @apply bg-white p-4 rounded-lg text-gray-500 shadow-normal text-lg outline-none;
  transition: all 0.3s ease-in-out;

  &:focus {
    @apply shadow-elevated;
    transform: translateY(-0.3rem);
  }
}

button[type="submit"] {
  transition: all 0.3s ease-in-out;

  &:hover {
  @apply shadow-elevated;
  transform: translateY(-0.3rem);
  }
}

.project {
  @apply sm:col-span-4 sm:mb-0 mb-24 col-span-full bg-white shadow-normal text-center p-8 relative rounded-half-max cursor-pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    @apply shadow-elevated;
    transform: translateY(-0.3rem);
  }

  .icon {
    @apply flex justify-center items-center sm:w-32 sm:h-32 w-20 h-20 absolute bg-white shadow-normal sm:rounded-half-max rounded-2xl;
    left: 50%;
    transform: translate(-50%, -80%);

    img {
      @apply sm:w-16 w-10;
    }
  }

  .title {
    @apply font-bold sm:text-3xl mb-2 sm:mt-16 mt-8 text-2xl;
  }

  .desc {
    @apply sm:text-lg sm:mb-6 mb-2;
  }

  .cta {
    @apply text-gray-500 sm:text-base text-sm;
    transition: color 0.3s ease-in-out;

    &:hover {
      @apply text-gray-700;
    }
  }

  &:last-child {
    @apply mb-0;
  }
}

@media screen and (max-width: 640px) {
  .gradientbg {
    margin-top: -40vh;
    margin-left: -20vh;
  }
}